/*---------------------------------------------------
TABLE OF CONTENT 
----------------------------------------------------*/

/* STYLES
------------------------------------*/

:root {
    --main-bg-color: coral;
}

#main
{
    padding:5px;
}

#main .content
{
    display:none;   
}

.nav-item .active {
    color: blue;
}





/*---------------------------------------------------
MEDIA QUERIES
----------------------------------------------------*/
