/*---------------------------------------------------
TABLE OF CONTENT 
----------------------------------------------------*/

/* STYLES
------------------------------------*/

:root {
    --font-normal: 13px;
    --font-large: 25px;
    --font-size: var(--font-normal);
}

#test {
    font-size: var(--font-size);
}





/*---------------------------------------------------
MEDIA QUERIES
----------------------------------------------------*/
